<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link rel="shortcut icon" type="image/png" th:href="@{img/makara-ui-farmasi.png}">
  <meta charset="UTF-8">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('jadwal')"></nav>
<div class="content container">
  <div class="card m-4 p-4">
      <div class="justify-content-center">
        <h2 style="font-weight: bold;">Tambah Jadwal Kegiatan</h2>
        <div th:if="${message}" th:text="${message}" class="alert alert-danger" role="alert"></div>
        <br>
        <form th:action="@{/jadwal/non-sidang/tambah}" th:object="${jadwalNonSidangModel}" method="POST">

          <input type="hidden" class="form-control" name="id" th:value=0>

          Nama Dosen <span style="color:red;">*</span><br>
          <select name="dosen" th:value="*{dosen}" required>
            <option value="">Pilih dosen</option>
            <option th:each="dosen : ${listDosen}"
                    th:value="${dosen.id}"
                    th:text="${dosen.nama}"></option>
          </select>
          <br><br>

          Jenis Kegiatan <span style="color:red;">*</span><br>
          <select name="keperluan" th:value="*{keperluan}" required>
            <option value="">Pilih jenis keperluan</option>
            <option th:each="keperluan : ${listKeperluan}"
                    th:value="${keperluan.id}"
                    th:text="${keperluan.nama}"></option>
          </select>
          <br><br>

          Tanggal Mulai Kegiatan <span style="color:red;">*</span><br>
          <input required class="form-control" type="Date" name="tanggalMulai"/>
          <br><br>

          Tanggal Selesai Kegiatan <span style="color:red;">*</span><br>
          <input required class="form-control" type="Date" name="tanggalSelesai"/>
          <br><br>

          Waktu Mulai <span style="color:red;">*</span><br>
          <input required class="form-control" type="time" name="waktuMulai"/>
          <br><br>

          Waktu Selesai <span style="color:red;">*</span><br>
          <input required class="form-control" type="time" name="waktuSelesai"/>
          <br><br>

          Informasi Tambahan <br>
          <input class="form-control" type="text" name="deskripsi"/>
          <br><br>

          <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#confirm">Simpan</button>

          <a class="btn btn-outline-color" href="/jadwal">Batal</a>
          <div th:replace="fragments/fragment :: modal"></div>

        </form>
      </div>
  </div>
</div>

</body>
</html>