<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" th:href="@{img/makara-ui-farmasi.png}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar('')"></nav>
    <div class="content container">
        <div class="card m-4 p-4">
            <div class="justify-content-center">
                <br>
                <center>
                    <h1>Maaf, anda tidak dapat masuk ke dalam sistem ini. Mohon hubungi admin untuk mendapatkan akses.</h1>
                </center>
                <br>
                <div class=" my-3 d-flex justify-content-center">
                    <a class="btn btn-color" th:href="${server_logout} + ${client_logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>